@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666666 transparent;
}

.dark * {
  scrollbar-color: #4a4a4a transparent;
}

/* Chromium browsers */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666666;
  border: 2px solid transparent;
  border-radius: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
}
